body{
    background-color:rgb(216, 253, 251);
    background-size: 100%;
    
}

.all{
    text-align: center;
    margin-top: 10%;
    margin-left: 470px;
    color: white;
    font-family:cursive;
    width: 300px;
    background-color:white;
    border-radius: 8px;
}

.title{
    background-color:#055BB5;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}


.button{
    background-color:#44ac33;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    color: white;
    padding: 8px;
}

.sub{
    padding: 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 15px;
}